* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.query {
    display: flex;
    flex-direction: row;
}

.radioBtns {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.radioDiv {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}